@using WaiterRestaurantApplication.Models;
@model IEnumerable<WaiterRestaurantApplication.Models.Restaurant>
@{
    ViewBag.Title = "Search Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="map" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p><button id="locationButton" class="btn btn-primary btn-block">Search Restaurants Near My Location</button></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <form class="form-inline justify-content-center">
            <div class="form-group">
                <input type="text" class="form-control" id="streetAddress" placeholder="Street Address">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="city" placeholder="City">
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <button class="btn btn-primary" id="search">Search By Address</button>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-4 col-md-offset-4" id="validationErrors" style="display: none;">
        <div class="alert alert-danger" role="alert">
            <!--Error messages-->
        </div>
    </div>
</div>

@*Map Markers*@
@foreach (var restaurant in Model)
{
    string waitRatePercentage;
    if ( restaurant.WaitRate.WaitRatePercentage == null )
    {
        waitRatePercentage = "N/A";
    }
    else
    {
        waitRatePercentage = restaurant.WaitRate.WaitRatePercentage.ToString() + "%";
    }

    string estimatedWaitTime;
    if (restaurant.EstimatedWaitTime == -1)
    {
        estimatedWaitTime = "Not Enough Data";
    }
    else
    {
        estimatedWaitTime = restaurant.EstimatedWaitTime + " minutes";
    }

    //Alex - write your logic here
    string imageFolderPath = "/Content/Images";
    string sampleIcon = "https://cdn3.iconfinder.com/data/icons/iconic-1/32/map_pin_alt-48.png";


    <span class="marker" data-iconpath="@sampleIcon" data-restaurantid="@restaurant.RestaurantId" data-name="@restaurant.RestaurantName" data-waittime="@restaurant.CurrentWaitMinutes" data-estimatedwaittime="@estimatedWaitTime" data-waitrate="@waitRatePercentage" data-lat="@restaurant.Address.Lat" data-lng="@restaurant.Address.Lng"></span>
}



@section scripts{
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3F02Dr7BSQRR48YgU8akdwdR-9FsXp3w"></script>
<script src="@Url.Content("~/Scripts/searchRestaurants.js")"></script>
}