@model WaiterRestaurantApplication.Models.Restaurant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleBeforeWarning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleBeforeWarning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GracePeriodMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GracePeriodMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentWaitMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentWaitMinutes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
