@using WaiterRestaurantApplication.Models;
@model RestaurantIndexViewModel

@{
    ViewBag.Title = "My Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Restaurants</h2>

<p>
    @Html.ActionLink("Add Restaurant", "Create", null, new {@class="btn btn-primary" })
</p>

@*Inactive Restaurants*@
@if ( Model.InactiveRestaurants != null )
{
    if (Model.InactiveRestaurants.Count() > 0)
    {
        foreach (Restaurant restaurant in Model.InactiveRestaurants)
        {
            <div class="alert alert-danger">
                <p><strong>@restaurant.RestaurantName</strong> has been added but not activated. Please activate to continue.</p>
                <p>
                    @Html.ActionLink("Activate " + restaurant.RestaurantName, "ActivateRestaurant", "Restaurant", new { restaurantId = restaurant.RestaurantId }, new { @class = "btn btn-success" })
                </p>
            </div>
        }
    }
}

@*Active Restaurants*@
@if (Model.ActiveRestaurants != null)
{
    if (Model.ActiveRestaurants.Count() > 0)
    {

        //new Restaurant layout
        foreach (Restaurant restaurant in Model.ActiveRestaurants)
        {
            <div class="well">
                <h3 style="margin-top: 0"><strong>@restaurant.RestaurantName</strong></h3>
                <p><strong>Open Time: </strong>@restaurant.OpenTime | <strong>Close Time: </strong>@restaurant.CloseTime | <strong>Open-For-Business: </strong>@restaurant.IsOpen | <strong>Diners Before Warning: </strong>@restaurant.PeopleBeforeWarning | <strong>Grace Period(mins): </strong>@restaurant.GracePeriodMinutes</p>
                <p>
                    <strong>Confirmed Employees: </strong>
                    @if (restaurant.ConfirmedEmployees.Count > 0)
                        {
                        @Html.ActionLink("Manage " + restaurant.ConfirmedEmployees.Count + " Employees", "ManageEmployees", new { restaurantId = restaurant.RestaurantId }, new { @class = "btn btn-warning btn-xs" })
                    }
                    else
                    {
                        <span class="text-danger">No confirmed employees</span>
                    }
                    | <strong>Pending Employees: </strong>
                    @if (restaurant.PendingEmployees.Count > 0)
                        {
                        @Html.ActionLink("Confirm " + restaurant.PendingEmployees.Count + " Employees", "ConfirmEmployees", new { restaurantId = restaurant.RestaurantId }, new { @class = "btn btn-success btn-xs" })
                    }
                    else
                    {
                    <span class="text-success">None to confirm</span>
                    }
                </p>
                @if (restaurant.CloseTime == null || restaurant.OpenTime == null || restaurant.IsOpen == false)
                {
                    <div class="alert alert-danger">@restaurant.RestaurantName is currently not showing up in search results. Please be sure to set your open time, close time and open-for-business in your settings.</div>
                }
                <p>
                    <a href="@Url.Action("Edit", "Restaurant", new { restaurantId = restaurant.RestaurantId })" class="btn btn-warning"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a>
                    <a href="@Url.Action("Index", "Subscription", new { restaurantId = restaurant.RestaurantId })" class="btn btn-info"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> My Subscription</a>
                    <a href="@Url.Action("DisplayAnalytics", "Restaurant", new { restaurantId = restaurant.RestaurantId })" class="btn btn-success"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Analytics</a>
                    <a href="@Url.Action("Delete", "Restaurant", new { restaurantId = restaurant.RestaurantId })" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Restaurant</a>
                </p>
            </div>
        }
    }
    else
    {
        <p class="text-danger">No active restaurants found. Please add and activate your restaurant(s).</p>
    }
}