@model WaiterRestaurantApplication.Models.TableVisitCreateModel

@{
    ViewBag.Title = "Get on the Wait List at " + Model.Restaurant.RestaurantName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get on the Wait List at @Model.Restaurant.RestaurantName</h2>
<p><strong>Current Stated Wait Time: @Model.Restaurant.CurrentWaitMinutes minutes</strong></p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*DO NOT NEED THESE HIDDEN INPUTS BECAUSE THE PARAMETERS ARE COMING INTO THE GET VERSION OF THE ACTION*@
        @*<input type="hidden" name="restaurantId" value="@Model.Restaurant.RestaurantId">
        <input type="hidden" name="isHostEntry" value=@Model.IsHostEntry>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="dinerName">Diner Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="dinerName" name="dinerName" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dinerPhone">Diner Phone</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="dinerPhone" name="dinerPhone" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="partySize">Party Size</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="partySize" name="partySize" type="text" value="">
                <span id="helpBlock" class="help-block">(Number of people in group)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}