@using WaiterRestaurantApplication.Models;
@model WaiterRestaurantApplication.Models.Restaurant

@{
    ViewBag.Title = @Model.RestaurantName + "Wait List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.RestaurantName Wait List</h2>
<p>
    @Html.ActionLink("Add Diner To Wait List", "Create", "TableVisit", new { restaurantId = Model.RestaurantId }, new { @class = "btn btn-primary" })
</p>
@if (Model.TableVisits.Count > 0)
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>Diner Name</th>
            <th>Party Size</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>

        @foreach (TableVisit tableVisit in Model.TableVisits)
        {
            <tr>
                <td>@tableVisit.DinerName</td>
                <td>@tableVisit.PartySize</td>
                <td>@String.Format("{0:(###) ###-####}", Convert.ToInt64(tableVisit.DinerPhone))</td>
                <td>
                    @Html.ActionLink("Send 'Table Ready' Notification", "SendTableReadyNotification", "TableVisit", new { tableVisitId = tableVisit.TableVisitId }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Remove from Wait List", "RemoveFromLine", "TableVisit", new { tableVisitId = tableVisit.TableVisitId }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>    
        }
    </table>
}
else
{
    <p>There are currently no diners on your wait list.</p>
}